/*
 Imports
 */

// Modules
@import "modules/variables";
@import "modules/mixins";

// Global styling
@import "global/global";

// Typography
@import "typography/fontstyle";

// Components
@import "components/article";
@import "components/page";

// Partial elements
@import "components/partials/header";
@import "components/partials/navigation";
@import "components/partials/content";
@import "components/partials/footer";


// Check if my_style.scss is working
//body{
//  background:blue;
//  color: red;
//  font-size: 2em;
//}

