
blockquote {
  border-color: $primary !important;
}

p {
  text-align: justify;
}

.page-content a, .post-categories, #page-wrap .bard-widget.widget_text a, .scrolltop, .required {
  color: $primary !important;
}