/*
  Header-logo
 */

.header-logo {
  h1 {
    a {
      color: $primary;
      text-shadow: $text_shadow;
    }
  }
}

p.site-description {
  font-size: 1.5rem;
  font-weight: bold;
  &:before{
    background-color: $primary;
  }
  &:after{
    background-color: $primary;
  }
}