#main-nav{
  background-color: $primary !important;

  a {
    color: #111 !important;
  }

  a:hover,
  .svg-inline--fa:hover,
  li.current-menu-item > a,
  li.current-menu-ancestor > a,
  .sub-menu li.current-menu-item > a,
  .sub-menu li.current-menu-ancestor > a {
    color: white !important;
  }

}



